<p id=notice>
  <%= flash[:notice] %>
</p>
<p><strong>title</strong>: <%= @Book.title %></p>
<p><strong>body</strong>: <%= @Book.body %> </p>
<%= link_to "Edit", edit_book_path(@Book.id) %> | <%= link_to "Back", "/books" %>